<a href="{{@link}}" target="_blank" class="p-2">
    <div
        class="doanimation duration-300 rounded-full bg-black text-white hover:bg-bgwhite hover:text-black h-16 w-16 sm:w-20 sm:h-20 flex items-center justify-center border-black border-2">
        <i class="{{@icon}} text-4xl sm:text-6xl"></i>
    </div>
</a>