<div class="flex flex-row w-full h-full">
        <div class="flex flex-initial justify-center m-auto w-2/3 h-full">
            <img src="TestFace.png" alt="My face" class="flex object-scale-down h-full">
        </div>
        <div class="flex flex-col m-auto w-full">
            <div class="flex flex-row text-2xl">
                <p class="w-28 text-5xl text-black dark:text-white">
                    I am: 
                </p>
                <Scroller/>
                
            </div>
        </div>
    </div>