<button
    class="grid place-items-center px-8 my-2 text-black dark:text-white  hover:bg-neutral-200 dark:hover:bg-neutral-800 hover:text-black doanimation rounded-md {{if @border 'rounded-md border-2 border-black' ''}}">
    {{@text}}
</button>