<div class="h-[8.8rem] overflow-hidden relative w-96">
    <span class="absolute top-0 text-4xl font-extralight animate-slide">
        <span class="text-5xl font-semibold">Tjeerd</span><br>
        Electrical Engineer<br>
        Software Developer<br>
        Website Builder<br>
        UI/UX Designer<br>
        Media Editor<br>
        Videographer<br>
        Photographer
    </span>
    <span class="absolute mt-[2.8rem] bg-gradient-to-b from-transparent to-bgwhite top-0 h-[6rem] w-full"/>
</div>


{{!-- 
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  
}
 --}}