<button
    class="w-8 md:h-14 md:w-14 doanimation p-0  md:m-2 {{if (eq activeView scrollto) ' textgradientpink' ' text-gray-300'}}"
    {{on "click" (fn move-view scrollto)}}>
    <div class="invisible md:visible w-full flex items-center justify-center h-full ">
        <i class="fas fa-{{@icon}} fa-lg "></i>
    </div>
    <div class="visible md:invisible w-full h-full flex items-center justify-center">
        <i class=" h-8 w-full inline-flex items-center fas fa-{{@icon}} fa-sm"></i>
    </div>
</button>