<div class="h-[12.8rem] overflow-hidden relative">

  <span
    class="absolute top-0 text-4xl font-extralight text-black text-center md:text-left w-full md:w-96 animate-slide">
    <span class="text-5xl font-semibold">Tjeerd</span>
    <p>Electrical Engineer</p>
    <p>Software Developer</p>
    <p>Photographer</p>
    <p>3D-Designer</p>
    <p>Website Builder</p>
    <p>UI/UX Designer</p>
    <p>Media Editor</p>
    <p>3D-Printer</p>
    <p>Videographer</p>
  </span>
  <span
    class="absolute mt-[2.8rem] bg-gradient-to-b from-transparent to-bgwhite dark:to-black top-0 h-[10rem] w-full md:w-96" />
</div>


{{!--
.scroller {
height: 1.2em;
line-height: 1.2em;
position: relative;
overflow: hidden;
width: 10em;
}
.scroller > span {
position: absolute;
top: 0;
animation: slide 5s infinite;
font-weight: bold;

}
--}}