<div class="flex flex-row h-20">
        <div class="grid place-items-center pl-3 text-2xl font-semibold text-black">
            Tjeerd Bakker
        </div>

        <div class="flex flex-grow"/>
        <div class="flex flex-row pr-5">
            <Link @text="Resume"/>
            <Link @text="Skills"/>
            <Link @text="Projects"/>
            <Link @text="Contact" @border="true"/>
        </div>
        
        
    </div>