<div class="flex flex-row absolute w-full h-14 bg-bgwhite text-black">
    <div class="grid place-items-center pl-3 text-2xl font-semibold ">
        Tjeerd Bakker
    </div>

    <div class="flex flex-grow" />
    <div class="flex flex-row pr-5 ">
        <Link @text="Contact" @border="true" />
    </div>
</div>